Repository ethereum-pocr/ethereum-pocr.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-smart-contract, publish genesis, release genesis, build_docker_sealer

build-smart-contract:
  stage: build
  image: node:16.8
  tags:
  - FINAXYS
  before_script:
  - apt-get update && apt-get install gettext jq -y
  - curl -L -o solc-file https://github.com/ethereum/solc-bin/raw/gh-pages/linux-amd64/solc-linux-amd64-latest
  ...

publish genesis:
  stage: publish
  image: curlimages/curl:latest
  tags:
  - FINAXYS
  dependencies:
  - build-smart-contract
  script:
  - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file sc-carbon-footprint/kerleano.final.json "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/genesis/latest/kerleano.json"'
  ...

release genesis:
  stage: publish
  image: curlimages/curl:latest
  tags:
  - FINAXYS
  dependencies:
  - build-smart-contract
  script:
  ...

build_docker_sealer:
  stage: build_docker
  tags:
  - FINAXYS
  image:
    name: gcr.io/kaniko-project/executor:v1.7.0-debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - export KANIKO_BUILDARGS="--build-arg GITLAB_USER=$GITLAB_USER --build-arg GITLAB_ACCESS_TOKEN=$GITLAB_ACCESS_TOKEN"
  ...

allow for developers using sealer docker image to use unprotected txs with rpc
  pocr-network/sealer/entrypoint.sh
Due: build_docker_sealer

redeem pledge action
  vue-auditor/package-lock.json
  vue-auditor/package.json
  vue-auditor/src/lib/api.js
  vue-auditor/src/pages/Audit.page.vue
  vue-auditor/src/pages/Pledge.page.vue
  vue-auditor/src/store/audit.js
  vue-auditor/src/store/index.js
  vue-auditor/src/store/pledge.js
Due: none

fix base sealer ubuntu docker image used
  pocr-network/sealer/Dockerfile
Due: build_docker_sealer

finished audit view
  vue-auditor/package.json
  vue-auditor/src/pages/Audit.page.vue
  vue-auditor/src/store/audit.js
Due: none

lint of smart contracts
  sc-carbon-footprint/src/AuditorGovernance.sol
  sc-carbon-footprint/src/CarbonFootprint.sol
  sc-carbon-footprint/src/Governance.sol
  sc-carbon-footprint/src/GovernanceTesting.sol
  sc-carbon-footprint/src/PledgeContract.sol
  sc-carbon-footprint/src/utils/ReentrancyGuard.sol
Due: build-smart-contract, publish genesis, release genesis

modification of function canTransferPledge : add of block number
  sc-carbon-footprint/src/Governance.sol
  sc-carbon-footprint/src/PledgeContract.sol
Due: build-smart-contract, publish genesis, release genesis

add sealer3 pkey in keyconf folder, update sealer geth command to allow unsecure transaction (to be fixed)
  pocr-network/keystore/sealer3-cda0bd.pkey
  pocr-network/sealer/entrypoint.sh
  pocr-utils/package-lock.json
  vue-auditor/package-lock.json
Due: build_docker_sealer

history view
  vue-auditor/package-lock.json
  vue-auditor/package.json
  vue-auditor/src/lib/api.js
  vue-auditor/src/pages/History.page.vue
  vue-auditor/src/pages/Pledge.page.vue
  vue-auditor/src/store/audit.js
  vue-auditor/src/store/history.js
  vue-auditor/src/store/index.js
Due: none

run cicd when genesis files change
  .gitlab-ci.yml
Due: none

Fix local testing
  README.md
  pocr-network/genesis/auditor-wallet-password.txt
  pocr-network/genesis/genesis-local.json
  pocr-network/keystore/UTC--2022-04-23T15-49-25.585195000Z--3d0a5f7514906c02178c6ce5c4ec33256f08ce58
  pocr-network/keystore/auditor-3D0a5f7514906c02178c6Ce5c4ec33256F08Ce58.pkey
  vue-auditor/package-lock.json
  vue-auditor/package.json
  vue-auditor/public/index.html
  vue-auditor/src/contracts/combined.json
  vue-auditor/src/contracts/combined.jsonZone.Identifier
  vue-auditor/src/lib/api.js
  vue-auditor/src/pages/Audit.page.vue
  vue-auditor/src/pages/History.page.vue
  vue-auditor/src/store/audit.js
  vue-auditor/src/store/history.js
  vue-auditor/src/store/pledge.js
Due: none

fix maxGas amount in contract call, use local genesis with auditor wallet
  docker-compose.yml
  package-lock.json
  pocr-network/genesis/saturndev-all-sealers-authorized.json
  vue-auditor/src/lib/api.js
Due: none

canTransferPledgeDone
  vue-auditor/src/pages/Pledge.page.vue
  vue-auditor/src/store/pledge.js
Due: none

dvp init
  delivery-versus-payment/.gitignore
  delivery-versus-payment/build.sh
  delivery-versus-payment/contracts/combined.json
  delivery-versus-payment/contracts/index.d.ts
  delivery-versus-payment/contracts/index.js
  delivery-versus-payment/package-lock.json
  delivery-versus-payment/package.json
  delivery-versus-payment/src/ERC20.sol
  delivery-versus-payment/src/IERC20.sol
  delivery-versus-payment/src/extensions/ERC20Burnable.sol
  delivery-versus-payment/src/extensions/ERC20Capped.sol
  delivery-versus-payment/src/extensions/ERC20FlashMint.sol
  delivery-versus-payment/src/extensions/ERC20Pausable.sol
  delivery-versus-payment/src/extensions/ERC20Snapshot.sol
  delivery-versus-payment/src/extensions/ERC20Votes.sol
  delivery-versus-payment/src/extensions/ERC20VotesComp.sol
  delivery-versus-payment/src/extensions/ERC20Wrapper.sol
  delivery-versus-payment/src/extensions/IERC20Metadata.sol
  delivery-versus-payment/src/presets/ERC20PresetFixedSupply.sol
  delivery-versus-payment/src/presets/ERC20PresetMinterPauser.sol
  delivery-versus-payment/src/utils/Context.sol
  delivery-versus-payment/src/utils/SafeERC20.sol
  delivery-versus-payment/src/utils/TokenTimelock.sol
  delivery-versus-payment/tsconfig.json
Due: none

function canTransferPledge public for front-end usage
  sc-carbon-footprint/src/Governance.sol
  sc-carbon-footprint/src/PledgeContract.sol
Due: build-smart-contract, publish genesis, release genesis

change bytecode for local genesis
  pocr-network/genesis/saturndev-all-sealers-authorized.json
Due: none

canTransferPledge Done
  sc-carbon-footprint/src/PledgeContract.sol
  vue-auditor/src/store/pledge.js
Due: build-smart-contract, publish genesis, release genesis

small improvements to UI
  vue-auditor/src/pages/Status.page.vue
  vue-auditor/src/store/audit.js
  vue-auditor/src/store/auth.js
Due: none

delivery-versus-payment repo for Maxime
  delivery-versus-payment/src/ERC20.sol
Due: none

git ignore mac DS_Store files
  .gitignore
Due: none

chore(cleanup): remove mac index file
  .DS_Store
Due: none

chore(git) ignore macOS index files
  .gitignore
Due: none

chore(cleanup): remove generated folder after smart contract compilation
  delivery-versus-payment/contracts/combined.json
  delivery-versus-payment/contracts/index.d.ts
  delivery-versus-payment/contracts/index.js
Due: none

chore(git): ignore smart contract build output
  delivery-versus-payment/.gitignore
Due: none

update auditorGovernance smart contract
  docker-compose.yml
  pocr-network/genesis/saturndev-all-sealers-authorized.json
  sc-carbon-footprint/src/AuditorGovernance.sol
  sc-carbon-footprint/src/intf/IAuditorGovernance.sol
  vue-auditor/src/lib/api.js
  vue-auditor/src/pages/Audit.page.vue
  vue-auditor/src/store/index.js
  vue-auditor/src/store/nodeGovernance.js
Due: build-smart-contract, publish genesis, release genesis

made routes external and exported
  vue-auditor/src/router.js
Due: none

work on the dynamic sidenav
  vue-auditor/src/components/AppMenu.vue
  vue-auditor/src/pages/Auditors.page.vue
  vue-auditor/src/router.js
Due: none

role detection Done
  vue-auditor/src/store/auth.js
Due: none

start using auditoGovernance
  pocr-network/genesis/saturndev-all-sealers-authorized.json
  sc-carbon-footprint/src/AuditorGovernance.sol
  sc-carbon-footprint/src/intf/IAuditorGovernance.sol
  vue-auditor/src/lib/api.js
  vue-auditor/src/lib/auth.js
  vue-auditor/src/pages/Audit.page.vue
  vue-auditor/src/store/nodeGovernance.js
Due: build-smart-contract, publish genesis, release genesis

dynamic sidenav
  vue-auditor/src/components/AppMenu.vue
  vue-auditor/src/lib/auth.js
  vue-auditor/src/router.js
  vue-auditor/src/store/auth.js
Due: none

extract non UI update from vue-auditor
  .gitignore
  README.md
  docker-compose.yml
  package-lock.json
  pocr-network/genesis/auditor-wallet-password.txt
  pocr-network/genesis/genesis-local.json
  pocr-network/genesis/kerleano.json
  pocr-network/genesis/saturndev-all-sealers-authorized.json
  pocr-network/keystore/UTC--2022-04-23T15-49-25.585195000Z--3d0a5f7514906c02178c6ce5c4ec33256f08ce58
  pocr-network/keystore/auditor-3D0a5f7514906c02178c6Ce5c4ec33256F08Ce58.pkey
  pocr-network/keystore/sealer3-cda0bd.pkey
  pocr-utils/package-lock.json
  sc-carbon-footprint/src/AuditorGovernance.sol
  sc-carbon-footprint/src/PledgeContract.sol
  sc-carbon-footprint/src/intf/IAuditorGovernance.sol
Due: build-smart-contract, publish genesis, release genesis

Add ci/cd
  .github/workflows/build-deploy-pages.yml
Due: none

update solc install
  .github/workflows/build-deploy-pages.yml
Due: none

fix cmd
  .github/workflows/build-deploy-pages.yml
Due: none

debug ci
  .github/workflows/build-deploy-pages.yml
Due: none

try use /snap
  .github/workflows/build-deploy-pages.yml
Due: none

test with $HOME/.local/bin
  .github/workflows/build-deploy-pages.yml
Due: none

correct path move
  .github/workflows/build-deploy-pages.yml
Due: none

check dist
  .github/workflows/build-deploy-pages.yml
Due: none

Path conditions:
  build-smart-contract: any of: sc-carbon-footprint/**/*
  publish genesis: any of: sc-carbon-footprint/**/*
  release genesis: any of: sc-carbon-footprint/**/*
  build_docker_sealer: any of: pocr-network/sealer/**/*
