Repository ethereum-pocr/ethereum-pocr.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-smart-contract, publish genesis, release genesis, build_docker_sealer

Path conditions:
  build-smart-contract: any of: sc-carbon-footprint/**/*, pocr-network/genesis/**/*
  publish genesis: any of: sc-carbon-footprint/**/*, pocr-network/genesis/**/*
  release genesis: any of: sc-carbon-footprint/**/*, pocr-network/genesis/**/*
  build_docker_sealer: any of: pocr-network/sealer/**/*

change workflow names
  .github/workflows/build-and-publish-local-genesis.yml
  .github/workflows/build-and-release-kerleano.yml
Due: none

update workflow names
  .github/workflows/build-and-publish-local-genesis.yml
  .github/workflows/build-and-release-kerleano.yml
Due: none

Updated from branch vue-auditor - 869af371bc8156eb64f5a1c1ba99701c5ce7a3e4
  index.html
  js/index.0df36a57.js
  js/index.0df36a57.js.map
  js/index.9c081414.js
  js/index.9c081414.js.map
Due: none

testing the legacy routing behaviour
  vue-auditor/src/router.js
Due: none

Updated from branch vue-auditor - 15268381f7f5f41dc916ab05bb7b77f6145f1ce0
  index.html
  js/index.9c081414.js
  js/index.9c081414.js.map
  js/index.fdaa3a8c.js
  js/index.fdaa3a8c.js.map
Due: none

CICD to build and publish sealer to github
  .github/workflows/build-and-publish-docker-sealer.yml
Due: none

Initial version - partial tests
  package-lock.json
  vue-auditor/package-lock.json
  vue-auditor/package.json
  vue-auditor/public/config.js
  vue-auditor/public/config.json
  vue-auditor/src/lib/api.js
  vue-auditor/src/lib/auth.js
  vue-auditor/src/main.js
  vue-auditor/src/pages/Auth.page.vue
  vue-auditor/src/store/auth.js
  vue-auditor/src/store/index.js
Due: none

manage the flow / connect page
  vue-auditor/src/lib/api.js
  vue-auditor/src/lib/auth.js
  vue-auditor/src/pages/Auth.page.vue
  vue-auditor/src/store/auth.js
  vue-auditor/src/store/index.js
Due: none

update the url
  config.json
Due: none

update references gitlab to github
  .env
  .github/workflows/build-and-publish-docker-sealer.yml
  README.md
  docker-compose.yml
  pocr-network/README.md
  pocr-network/sealer/Dockerfile
Due: build_docker_sealer

build sealer image only for master if changes
  .github/workflows/build-and-publish-docker-sealer.yml
Due: none

Updated from branch feature/add-optional-wallet-custody-auth - b768f7140365246805fbbb70444a6fbddf6c62fc
  config.json
Due: none

Remove old config.js file references
  vue-auditor/create-config.js
  vue-auditor/public/config.js
  vue-auditor/public/index.html
Due: none

Updated from branch feature/add-optional-wallet-custody-auth - 6286135197a1ee069b41702e58c2c95da3fb7a3f
  config.js
Due: none

Refactoring and make multiple config
  vue-auditor/public/config.js
  vue-auditor/public/config.json
  vue-auditor/src/lib/api.js
  vue-auditor/src/lib/auth.js
  vue-auditor/src/lib/config-file.js
  vue-auditor/src/pages/Auth.page.vue
  vue-auditor/src/store/auth.js
  vue-auditor/src/store/index.js
Due: none

change in conf display
  vue-auditor/src/pages/Auth.page.vue
Due: none

Updated from branch feature/add-optional-wallet-custody-auth - 56c41019cab87189967b99cc81452d6c40c12581
  index.html
  js/index.026a7bc3.js
  js/index.026a7bc3.js.map
  js/index.b4d717ec.js
  js/index.b4d717ec.js.map
Due: none

Update config.json
  config.json
Due: none

add wallet password dialog
  vue-auditor/public/config.json
  vue-auditor/src/App.vue
  vue-auditor/src/components/WalletAuthenticationDialog.vue
  vue-auditor/src/lib/api.js
  vue-auditor/src/store/auth.js
Due: none

Updated from branch feature/add-optional-wallet-custody-auth - baa5b3861425772abe6099424c1ea7c74f146ff6
  config.json
  index.html
  js/index.b4d717ec.js
  js/index.b4d717ec.js.map
  js/index.ee1a95d8.js
  js/index.ee1a95d8.js.map
Due: none

Add version with unit tests
  sc-carbon-footprint/package-lock.json
  sc-carbon-footprint/package.json
  sc-carbon-footprint/src/AuditorGovernance.sol
  sc-carbon-footprint/src/Governance.sol
  sc-carbon-footprint/src/NodeDelegation.sol
  sc-carbon-footprint/src/intf/INodeDelegation.sol
  sc-carbon-footprint/tests/governance.spec.ts
Due: build-smart-contract, publish genesis, release genesis

add compiled sc in all sealers genesis
  pocr-network/genesis/saturndev-all-sealers-authorized.json
Due: build-smart-contract, publish genesis, release genesis

integrating the chain
  docker-compose.yml
  pocr-network/genesis/saturndev-all-sealers-authorized.json
  sc-carbon-footprint/build.sh
  sc-carbon-footprint/inject-bytecode.js
  sc-carbon-footprint/produce-sealer-cmd.js
  vue-auditor/package-lock.json
  vue-auditor/public/config.json
  vue-auditor/src/pages/Auditors.page.vue
  vue-auditor/src/pages/Status.page.vue
  vue-auditor/src/store/auth.js
  vue-auditor/src/store/nodeGovernance.js
Due: build-smart-contract, publish genesis, release genesis

Updated from branch vue-auditor - 10c26b53205c214dbe07001ac05a3ece8c277c8e
  config.json
  index.html
  js/index.12e066ef.js
  js/index.12e066ef.js.map
  js/index.ec108b6a.js
  js/index.ec108b6a.js.map
Due: none

save partial changes
  .github/workflows/build-deploy-pages.yml
  vue-auditor/public/config.json
  vue-auditor/src/App.vue
  vue-auditor/src/lib/api.js
  vue-auditor/src/lib/const.js
  vue-auditor/src/pages/Auth.page.vue
  vue-auditor/src/pages/ConfiscatedPledge.page.vue
  vue-auditor/src/pages/Dashboard.page.vue
  vue-auditor/src/pages/Improvements.page.vue
  vue-auditor/src/router.js
  vue-auditor/src/store/auth.js
  vue-auditor/src/store/nodeGovernance.js
  vue-auditor/src/store/nodes.js
Due: none

nodes, auth, history, pledge updates
  .github/workflows/build-and-publish-local-genesis.yml
  .github/workflows/build-and-release-kerleano.yml
  .github/workflows/build-deploy-pages.yml
  README.md
  docker-compose.yml
  pocr-monitoring/src/components/Dashboard.vue
  pocr-network/genesis/saturndev-all-sealers-authorized.json
  pocr-network/sealer/entrypoint.sh
  sc-carbon-footprint/inject-bytecode.js
  sc-carbon-footprint/src/Governance.sol
  vue-auditor/public/config.json
  vue-auditor/src/App.vue
  vue-auditor/src/lib/api.js
  vue-auditor/src/lib/const.js
  vue-auditor/src/pages/Dashboard.page.vue
  vue-auditor/src/pages/History.page.vue
  vue-auditor/src/pages/Pledge.page.vue
  vue-auditor/src/pages/Status.page.vue
  vue-auditor/src/router.js
  vue-auditor/src/store/auth.js
  vue-auditor/src/store/history.js
  vue-auditor/src/store/nodes.js
  vue-auditor/src/store/pledge.js
Due: build-smart-contract, publish genesis, release genesis, build_docker_sealer

Fix bug in IP vote for delegated node + local gov
  sc-carbon-footprint/build.sh
  sc-carbon-footprint/extract-bytecode.js
  sc-carbon-footprint/src/Governance.sol
  sc-carbon-footprint/src/GovernanceLocalNetwork.sol
  sc-carbon-footprint/src/ImprovementProposal.sol
Due: build-smart-contract, publish genesis, release genesis

Impl imp proposals
  vue-auditor/public/config.json
  vue-auditor/src/components/ExplorerRedirect.vue
  vue-auditor/src/lib/config-file.js
  vue-auditor/src/lib/const.js
  vue-auditor/src/pages/Dashboard.page.vue
  vue-auditor/src/pages/History.page.vue
  vue-auditor/src/pages/Improvements.page.vue
  vue-auditor/src/pages/Status.page.vue
  vue-auditor/src/store/auth.js
  vue-auditor/src/store/history.js
  vue-auditor/src/store/nodes.js
Due: none

set a https custody service using Azure key vault
  config.json
Due: none

Update README.md
  pocr-network/README.md
Due: none

comments part 1
  sc-carbon-footprint/src/AuditorGovernance.sol
  sc-carbon-footprint/src/CarbonFootprint.sol
  sc-carbon-footprint/src/Governance.sol
Due: build-smart-contract, publish genesis, release genesis

comments part 2
  sc-carbon-footprint/src/AuditorGovernance.sol
Due: build-smart-contract, publish genesis, release genesis

correct bug on loading innactive nodes
  pocr-network/genesis/saturndev-all-sealers-authorized.json
  vue-auditor/public/config.json
  vue-auditor/src/store/nodes.js
Due: build-smart-contract, publish genesis, release genesis

Updated from branch vue-auditor - a2b6fdf163ad66d37424f296ec0181696ede674a
  index.html
  js/index.919476bb.js
  js/index.919476bb.js.map
  js/index.a1dd50bb.js
  js/index.a1dd50bb.js.map
Due: none
